<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div id="toolbar">
  <ul>
      <li class="fl"><a href="javascript:$('#dlgAttrs').dialog('refresh', '/Templates/HtmlPage/ListUserAttr.htm')" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">刷新</a></li>
      <li class="fl ml10"><a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="OnDelete()">删除</a></li>
  </ul>
  <div class="clr"></div>  
</div>
<table id="listUserAttr" class="easyui-datagrid"
        data-options="fitColumns:true,singleSelect:true,toolbar:'#toolbar'">
    <thead>
        <tr>
            <th data-options="field:'ck',checkbox:true,width:100"></th>
            <th data-options="field:'AttrName',width:100">名称</th>
            <th data-options="field:'AttrValue',hidden:true,width:100"></th>
        </tr>
    </thead>
</table>

<script type="text/javascript">

    $(function () {
        $.ajax({
            url: "/ScriptServices/UsersService.asmx/GetUserCustomAttrs",
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var dataAppend = "[";
                var len = data.d.length - 1;
                $.map(data.d, function (item, i) {
                    if (i == len) {
                        dataAppend += "{\"AttrName\":\"" + item.AttrName + "\",\"AttrValue\":\"" + item.AttrValue + "\"}";
                    }
                    else {
                        dataAppend += "{\"AttrName\":\"" + item.AttrName + "\",\"AttrValue\":\"" + item.AttrValue + "\"},";
                    }
                })
                dataAppend += "]";
                $("#listUserAttr").datagrid("loadData", $.parseJSON(dataAppend));
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    })

    function OnDelete() {
        var cbl = $('#listUserAttr').datagrid("getSelections");
        var cblLen = cbl.length;
        if (cblLen == 0 || cblLen > 1) {
            $.messager.alert('错误提示', '请至少选择一行数据且仅一行数据进行操作', 'error');
            return false;
        }
        var rowIndex = $('#listUserAttr').datagrid('getRowIndex', cbl[0]);
        var attrName = cbl[0].AttrName;
        $.ajax({
            url: "/ScriptServices/UsersService.asmx/DeleteUserCustomAttr",
            type: "post",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: "{attrName:'"+attrName+"'}",
            success: function (result) {
                var msg = result.d;
                $.messager.alert('温馨提醒', msg, 'info');
                if (msg.indexOf("成功") > -1) {
                    $('#listUserAttr').datagrid('deleteRow', rowIndex);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
    }
</script>

</body>
</html>
